<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title> EMail_tester</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body>
<div>
    <div style="font-size: 26px;font-weight: 700;letter-spacing: -0.02em;line-height: 32px;color: #41637e;font-family: sans-serif;text-align: center" align="center" id="emb-email-header">{{ Societe }}</div>
    <p style="Margin-top: 0;color: #161e56;font-family: Georgia,serif;font-size: 16px;line-height: 25px;Margin-bottom: 2px">- Nom: {{ name }} </p>
    <p style="Margin-top: 0;color: #161e56;font-family: Georgia,serif;font-size: 16px;line-height: 25px;Margin-bottom: 2px">- Societe: {{ Societe }} </p>
    <p style="Margin-top: 0;color: #161e56;font-family: Georgia,serif;font-size: 16px;line-height: 25px;Margin-bottom: 2px">- E-mail:  {{ Email }} </p>
    <p style="Margin-top: 0;color: #161e56;font-family: Georgia,serif;font-size: 16px;line-height: 25px;Margin-bottom: 2px">- Tel: {{ Tel }}</p>
    <p style="Margin-top: 0;color: #161e56;font-family: Georgia,serif;font-size: 16px;line-height: 25px;Margin-bottom: 2px">- Fonction: {{ Fonction }} </p>
    <p style="Margin-top: 0;color: #161e56;font-family: Georgia,serif;font-size: 16px;line-height: 25px;Margin-bottom: 30px">- Activite:  {{ Activite }}  </p>
    </br>
    <p style="Margin-top: 0;color: #565656;font-family: Georgia,serif;font-size: 16px;line-height: 25px;Margin-bottom: 25px"> Bonjour </p>
    <p style="Margin-top: 0;color: #565656;font-family: Georgia,serif;font-size: 16px;line-height: 25px;Margin-bottom: 25px"> {{ Message }} </p>
</div>
</body>
</html>